.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.parallax{
  background-image: url(https://img1.goodfon.com/wallpaper/nbig/d/87/boeing-samolet-nebo.jpg);

  /* Set a specific height */
  min-height: 85vh; 
}

.bg2{
  background-image: url(https://www.coforge.com/sites/default/files/2021-01/banner_11.jpg);

  /* Set a specific height */
  min-height: 40vh; 
}

.parallax, .bg2 {
  /* The image used */
  
  


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#textbox1, #textbox2, #col {
  position: relative;
  right: -50vh;
  display: block;
  float: left;    

   
}
.cap{
  color:#000;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
