.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61a9fb;
}

.parallax{
  background-image: url(https://img1.goodfon.com/wallpaper/nbig/d/87/boeing-samolet-nebo.jpg);

  /* Set a specific height */
  min-height: 50vh; 
 /* text-shadow: 2px 2px 10px #000*/
}


.bg2{
  background-image: url(https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80);

  /* Set a specific height */
  min-height: 25vh; 

}

.parallax, .bg2 {
  /* The image used */
  
  


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#textbox1, #textbox2, #textbox3, #col {
  position: relative;
  right: -10vw;
  display: block;
  float: left;   
 

   
}

.cap{
  color:#000;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

tr:nth-child(odd) {
  background-color: #dddaff;
}

.container{
  max-width: 100vw;
  padding-right: 0px;
}
.center {
  margin-left: auto;
  margin-right: auto;
  min-width:100%; 
  max-width: inherit;

}

.table{
  table-layout:unset !important;
border-collapse: collapse;
  max-width: 100vw;
    word-wrap: break-word;
}

th, td {
  text-align: center;
}


tbody tr:hover {
  background-color: rgb(136, 134, 255);
  color: #fff;
}

tbody th:hover  {
  background-color:none !important;
}

/* Style the form - display items horizontally */
.form-inline {
  display: inline-block;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button, button {
  padding: 10px 20px;
  background-color: rgb(68, 101, 209);
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

button:disabled{
  padding: 10px 20px;
  background-color: rgb(156, 166, 201);
  border: 1px solid #ddd;
  color: white;
  cursor: not-allowed;
}

.form-inline button:hover {
  background-color: rgb(82, 122, 252);
  
}

footer {
  text-align: right;
  padding: 3px;
}


/*purchase tickets modal*/
/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(28, 31, 36, 0.5);
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
    width: 100%;
  }
}